# Django Settings
SECRET_KEY=django-insecure-prod-scalable-url-shortener-change-in-production-2026
DEBUG=True
ALLOWED_HOSTS=*
SHORT_DOMAIN_BASE=http://localhost:8000

# Database Configuration (PostgreSQL)
POSTGRES_DB=url_shortener_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_secure_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Redis Cache & Celery Broker
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# Apache Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_LINK_CLICKS=link-clicks
KAFKA_CONSUMER_GROUP=analytics-processor-group

# Rate Limiting Controls
RATE_LIMIT_ANON_PER_MIN=30
RATE_LIMIT_AUTH_PER_MIN=120
RATE_LIMIT_LINK_CREATE_PER_MIN=20
